@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.carousel-caption button {
    background: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 13px 33px;
}

.main-text {
    color: #1D1D1D;
}

.main-text p {
    color: #777777;
}

.price-style {
    color: #289BDE;
    font-weight: 600;
    font-size: 18px;

}

.card-text-style h5 {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 25px;
}

.card-text-style h5 {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 25px;
}

.card-text-style p {
    color: #777777;
    font-weight: 400;
    font-size: 16px;

}

.card-height {
    min-height: 265px;
}