@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.carousel-caption button {
    background: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 13px 33px;
}

.main-text {
    color: #1D1D1D;
}

.main-text p {
    color: #777777;
}

.price-style {
    color: #289BDE;
    font-weight: 600;
    font-size: 16px;

}

.card-text-style h5 {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 20px;
}

.card-text-style h5 {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 20px;
}

.card-text-style p {
    color: #777777;
    font-weight: 400;
    font-size: 16px;

}

.card-height {
    min-height: 250px;
}

.learning-text {
    background: #F4FAFD;
    border-radius: 5px;
}

.learning-text h2,
h3 {
    color: #1D1D1D;
    font-weight: 600;
    font-size: 35px;
}

.learning-text p {
    color: #777777;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.join-text {
    background: #289BDE;
    border-radius: 5px;
}

.join-text h1 {
    font-weight: 600;
    font-size: 45px;
    color: white;
}

.join-text p {
    font-weight: 400;
    font-size: 16px;
    color: #F4F4F4;
}

.success-text img {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 20px;
}

.success-text h1 {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 20px;
}

.success-text p {
    color: #777777;
    font-weight: 400;
    font-size: 16px;
}